/*Fonts
=========================================================*/
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
        url('../fonts/Oswald-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
        url('../fonts/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
        url('../fonts/Oswald-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


/*Global Styles
=======================================*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Oswald', sans-serif;
    font-weight: 400;

    line-height: 1.2;
    letter-spacing: 0.025em;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    outline: none;
}

/*Container
=============================*/
.container {
    width: 100%;
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

/*Section
==============================*/
.section {
    padding-top: 75px;
    padding-bottom: 80px;
}

.section--gray {
    background-color: #f4f4f4;
}

.section__title {
    padding-bottom: 60px;

    font-size: 20px;
    font-weight: 700;

    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;

    color: #292929;
}

/*Button
============================*/
.button {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;

    color: #292929;
    background-color: #ffd200;
    border-radius: 3px;

    transition: color 0.2s linear, background-color 0.2s linear;

}

.button:hover,
.button:focus {
    color: #ffffff;
    background-color: #780d0d;

}

.button:active {
    color: rgba(255, 255, 255, 0.75);

}

/*Call-Back Button
======================================*/
.call-back__button {
    width: 160px;
    margin-left: 30px;
    padding: 11px 0 13px;

    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-align: center;

    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.call-back__button--header {
    border: 2px solid #292929;
}

.call-back__button--header:hover,
.call-back__button--header:focus {
    color: #7f001e;
    border: 2px solid #7f001e;
}

.call-back__button--header:active {
    color: #0f1d75;
    border-color: #0f1d75;
}

/*Header
======================================*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

.header-bg {
    background-color: #ffcc00;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    color: #292929;
}

.logo {
    display: flex;
}

.logo__img {
    margin-right: 15px;
}

.logo__img:hover,
.logo__img:focus {
    opacity: 0.8;
}

.logo__text {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.logo__title {
    padding-top: 2px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #292929;
    transition: color 0.25s linear;
}

.logo__title:hover,
.logo__title:focus {
    color: #780d0d;
}

.logo__title:active {
    color: #0f1d75;
}

.logo__subtitle,
.contact__text {
    font-size: 12px;
    line-height: 1.4;

    color: #969696;
}

.header__contact,
.footer__contact {
    display: flex;
    flex-direction: column;

    width: 190px;
    margin-left: auto;

    text-align: right;
}

.contact__tel {
    padding-top: 2px;

    font-size: 18px;
    font-weight: 700;

    color: #292929;

    transition: color 0.2s linear;
}

.contact__tel:hover,
.contact__tel:focus {
    color: #780d0d;
}

.contact__tel:active {
    color: #0f1d75;
}


/*Navigation*/
.nav {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-top: 28px;
    background-color: #ffcc00;
}

.nav__link {
    display: flex;
    justify-content: center;

    width: 20%;
    padding-top: 22px;
    padding-bottom: 22px;

    font-size: 14px;
    font-weight: 500;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #292929;

    text-align: center;

    cursor: pointer;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.nav__link:hover,
.nav__link:focus {
    color: #ffffff;
    background-color: #780d0d;
}

/*.nav__link:active {*/
/*    color: rgba(255, 255, 255, 0.75);*/
/*}*/

.nav__link.current {
    background-color: #780d0d;
    color: #ffffff;
}

.nav.fixed {
    position: fixed;
    display: flex;

    top: 0;
    left: 0;

    margin: 0 auto;
}


/*Burger*/
.burger {
    display: none;
    margin-right: 5px;
    padding: 8px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.3s linear;
}

.burger__item {
    position: relative;
    display: block;
    width: 35px;
    height: 4px;
    font-size: 0;
    color: transparent;
    background-color: #292929;
}

.burger__item:before,
.burger__item:after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: #292929;

    z-index: 5;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    top: 8px;
}

.burger:hover {
    opacity: 0.7;
}

.burger--close .burger__item {
    background-color: transparent;
}

.burger--close .burger__item::before {
    transform: rotate(45deg);
    top: 0;
}

.burger--close .burger__item::after {
    transform: rotate(-45deg);
    top: 0;
}


/*INTRO
=============================*/
.intro {
    position: relative;
    margin-top: 130px;
    padding-top: 150px;
    padding-bottom: 100px;

    color: #ffffff;
    background-color: #969696;
    background-image: url('../img/bg-intro_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #292929;
}

.intro__text {
    max-width: 300px;
    margin-top: 30px;

    font-size: 18px;
    line-height: 1.6;
    color: #292929;
}

.intro__button {
    display: inline-block;
    width: 200px;

    margin-top: 40px;
    text-align: center;
    padding: 16px 0;
}

/*PRODUCTS
==================================*/
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product__item {
    width: 300px;
    margin-bottom: 25px;
    text-align: center;
    border: 1px solid #f6f6f6;
}

.product__item:hover {
    cursor: pointer;
    border-color: #780d0d;
}

.product__img-wrapper {
    height: 200px;
    line-height: 200px;
}

.product__img {
    vertical-align: middle;
}

.product__title,
.services__title {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;

    color: #292929;

    border-bottom: 1px solid #c9c9c9;
}

.product__title:hover,
.product__title:focus,
.services__title:hover,
.services__title:focus {
    color: #d77b18;
    border-color: #d77b18;
}

.product__title:active,
.services__title:active {
    opacity: 0.8;
}

.product__text {
    margin-bottom: 15px;
    padding: 0 30px;
    font-size: 13px;
}

.price {
    display: inline-block;

    width: 100%;

    font-size: 14px;
    font-weight: 500;

    text-align: center;
}

.product__price {
    padding-bottom: 32px;
}

.product__button {
    display: inline-block;
    margin-bottom: 34px;
    padding: 15px 55px;
}

/*FEATURES / SERVICES
================================*/
.features,
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.features__item {
    width: 300px;
    padding: 40px 15px;
    margin-bottom: 25px;

    text-align: center;
    border: 2px solid #ffffff;

    transition: background-color 0.3s linear;
}

.features__item:hover,
.features__item:focus {
    background-color: #ffffff;
    cursor: pointer;
}

.features__item:hover .feature__text {
    color: #780d0d;
}

.features__img-wrapper {
    height: 50px;
}

.feature__title {
    margin-top: 20px;

    font-size: 15px;
    font-weight: 500;
    color: #292929;
}

.feature__text {
    margin-top: 20px;

    font-size: 13px;
    line-height: 1.5;
    color: #292929;

    transition: color 0.3s linear;
}

.services__item {
    width: 300px;
    padding-bottom: 25px;
    margin-bottom: 25px;

    text-align: center;
    border: 1px solid #ffffff;
    transition: background-color 0.3s linear;
    cursor: pointer;
}

.services__img-wrapper {
    height: 172px;
    line-height: 172px;

    text-align: center;
}

.services__img-wrapper img {
    vertical-align: middle;
}

.services__item:hover {
    background-color: #ffffff;
}

.services__title {
    padding-top: 11px;
}

/*POPULAR
================================*/
.popular__goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular__item {
    width: 220px;
    padding: 20px;

    text-align: center;

    border: 1px solid #f6f6f6;
}

.popular__item:hover {
    cursor: pointer;
    border-color: #780d0d;
}

.popular__item-img-wrapper {
    position: relative;
}

.action {
    position: absolute;
    top: 10px;
    left: 10px;

    display: inline-block;
    width: 55px;
    height: 23px;
    padding-top: 6px;

    font-size: 10px;
    font-weight: 500;

    text-transform: uppercase;
    text-align: center;

    color: #ffffff;
    background-color: #ff0000;
}

.popular__title {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 20px;

    font-size: 12px;
    line-height: 1.5;

    color: #292929;

    text-decoration: underline;
    text-decoration-color: #c9c9c9;
    cursor: pointer;
}

.popular__title:hover,
.popular__title:focus {
    color: #d77b18;
    text-decoration-color: #d77b18;
}

.popular__title:active {
    opacity: 0.8;
}

.popular__item--action .price {
    color: #ff0000;
}

.popular__price del {
    font-size: 10px;

    color: #979797;
}

.popular__price {
    margin-bottom: 24px;
}

.popular__button {
    display: inline-block;
    width: 100%;
    padding: 14px 0;
}

/*MAP
================================*/
.map {
    position: relative;
    height: 510px;
    background-image: url('../img/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.map iframe {
    position: absolute;
    width: 100%;
    height: 510px;

    top: 0;
    left: 0;
}

.contacts {
    position: absolute;
    top: 80px;
    right: 10px;

    width: 380px;
    margin-left: auto;
    padding: 55px 60px 40px;

    background-color: #ffffff;
}

.contacts__title {
    margin-bottom: 38px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

.contacts__item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 25px;
}

.contacts__item .contact__tel {
    font-size: 14px;
    font-weight: 500;

    line-height: 2;
    text-transform: uppercase;
}

.contacts__item--address {
    font-size: 14px;
}

.email__link {
    display: inline-block;

    font-size: 14px;
    text-decoration: underline;

    color: #000000;
}

.email__link:hover,
.email__link:focus {
    color: #780d0d;
}

.email__link:active {
    color: #0f1d75;
}

.contact__icon {
    position: absolute;

    top: 10px;
    left: 0;

    cursor: pointer;
}

.contact__icon:hover {
    fill: #780d0d;
}

.contact__icon:active {
    fill: #0f1d75;
}

.contacts__item--address .contact__icon,
.contacts__item--email .contact__icon {
    top: 5px;
}

/*FOOTER
=============================*/
.footer {
    color: #ffffff;
    background-color: #292929;
}

.footer__inner-top,
.footer__inner-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;

    padding-top: 45px;
}

.footer__inner-top .logo {
    padding-top: 5px;
}

.footer__inner-top .logo__title,
.footer__inner-top .contact__tel {
    color: #ffffff;
}

.footer__inner-top .logo__title:hover,
.footer__inner-top .logo__title:focus,
.footer__inner-top .contact__tel:hover,
.footer__inner-top .contact__tel:focus {
    color: #ffcc00;
}

.footer__inner-top .logo__title:active,
.footer__inner-top .contact__tel:active {
    color: #ffcc00;
    opacity: 0.7;
}

.footer__inner-bottom {
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 45px;
}

.copyright {
    align-self: flex-end;

    font-size: 14px;
    line-height: 1.8;
}

.call-back__button--footer {
    align-self: flex-start;

    padding: 15px 22px;
    margin-left: 30px;
    border: 2px solid #ffffff;

    color: #ffffff;
}

.call-back__button--footer:hover,
.call-back__button--footer:focus {
    color: #ffd200;
    border: 2px solid #ffcc00;
}

.call-back__button--footer:active {
    opacity: 0.7;
}

/*MEDIA
======================================*/
@media (max-width: 910px) {

    /*popular*/
    .popular__goods {
        justify-content: space-around;
    }

    .popular__item {
        width: 340px;
        padding: 30px;
        margin-bottom: 25px;
    }

    .popular__item-img {
        width: 100%;
    }

    .popular__title {
        font-size: 18px;
    }

    .popular__item .price {
        font-size: 16px;
    }
}

@media (max-width: 767px) {

    /*header*/
    .header__inner {
        align-content: center;
    }

    .logo__text {
        justify-content: center;
    }

    .logo__title {
        padding: 0;
    }

    .logo__subtitle {
        display: none;
    }

    .header__contact {
        display: none;
    }

    .call-back__button {
        display: none;
    }

    .burger {
        display: flex;
    }

    .burger.fixed {
        position: fixed;
        top: 30px;
        right: 15px;
    }


    /*Navigation*/
    .nav {
        position: absolute;
        top: 100%;
        right: 0;
        display: none;
        flex-direction: column;

        width: 100%;
        margin: 0;
    }

    .nav.fixed {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
    }

    .nav.show {
        display: flex;

    }

    .nav.show.fixed {
        position: fixed;
        padding-top: 60px;
    }

    .nav__link {
        display: inline-block;
        padding: 10px 15px 10px 0;
        width: 100%;
        text-align: right;
    }

    .nav__item:hover,
    .nav__item:focus {
        outline: none;
    }

    .nav__item--current {
        outline: none;
    }

    .nav__link--current {
        color: #292929;
        background-color: #ffcc00;
    }

    /*intro*/
    .intro {
        position: relative;
        display: flex;

        padding: 0;
        margin-top: 0;
        height: 100vh;
        min-height: 560px;
    }

    .intro::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    .intro__inner {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        z-index: 3;
    }

    .intro__title {
        margin-top: auto;
        padding-top: 40px;
        padding-bottom: 20px;

        font-size: 30px;
        color: #ffffff;
    }

    .intro__text {
        width: 100%;
        max-width: 400px;
        padding: 20px 0 20px;
        margin: 0 auto;
        color: #ffffff;
    }

    .intro__button {
        margin: auto auto 65px;
    }

    /*products*/
    .product__item:last-child {
        margin-bottom: 0;
    }

    /*features/services*/
    .features__item:last-child,
    .services__item:last-child {
        margin-bottom: 0;
    }

    /*map*/
    .map {
        position: static;
        height: 500px;
        background-image: none;
    }

    .map__inner {
        font-size: 0;
    }

    .map iframe {
        position: static;
        height: 300px;
    }

    .contacts {
        position: static;
        width: auto;
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
    }

    .contacts__title {
        margin-bottom: 15px;
        font-size: 16px;
        text-align: center;
    }

    .contacts__item {
        width: auto;
        margin: 0 0 15px 30px;
        padding-left: 30px;
    }

    .contacts__item .contact__tel {
        font-size: 13px;
        line-height: 1.5;
    }

    .contacts__item--address {
        font-size: 13px;
    }

    .email__link {
        font-size: 13px;
    }

    /*footer*/
    .footer__inner-top,
    .footer__inner-bottom {
        flex-direction: column;
    }

    .footer__inner-top {
        padding-top: 15px;
    }

    .logo--footer {
        margin: 0 auto;
    }

    .logo__text {
        width: auto;
    }

    .footer__contact {
        margin: 15px auto;
        text-align: center;
    }

    .footer__inner-bottom {
        padding-bottom: 15px;
    }

    .footer__button {
        display: none;
    }

    .copyright {
        align-self: center;
    }
}

@media (max-width: 520px) {

    /*Section
==============================*/
    .section {
        padding-top: 45px;
        padding-bottom: 40px;
    }

    .section__title {
        padding-bottom: 30px;
        font-size: 16px;
    }

    /*intro*/
    .intro__title {
        font-size: 25px;
    }

    .intro__text {
        font-size: 15px;
    }

    /*popular*/
    .popular__item {
        width: 300px;
    }

    .popular__item:last-child {
        margin-bottom: 0;
    }
}

/*===========CLOSE MEDIA============*/